<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CHM_CLIENT_APP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CHM_CLIENT_APP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CHM_CLIENT_APP.Properties.Settings.GESTION_COMMERCIALEConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\DELL\Mes documents\Visual Studio 2005\Projects\CHM_GESTION_COMERCIALE\CHM_SERVER\bin\Debug\GESTION_COMMERCIALE.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="CHM_CLIENT_APP.Properties.Settings.GCConnectionString"
            connectionString="Data Source=192.168.0.2;Initial Catalog=GC;User ID=sa;Password=miros05:"
            providerName="System.Data.SqlClient" />
        <add name="CHM_CLIENT_APP.Properties.Settings.GCConnectionString1"
            connectionString="Data Source=DBSRV\CHM;Initial Catalog=GC;Persist Security Info=True;User ID=sa;Password=miros05:"
            providerName="System.Data.SqlClient" />
        <add name="CHM_CLIENT_APP.Properties.Settings.GC_ENNEJMAConnectionString"
            connectionString="Data Source=DBSRV\CHM;Initial Catalog=GC_ENNEJMA;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CHM_CLIENT_APP.Properties.Settings.GC2S2EConnectionString"
            connectionString="Data Source=DBSRV\CHM;Initial Catalog=GC2S2E;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CHM_CLIENT_APP.Properties.Settings.GCOMConnectionString"
            connectionString="Data Source=PO3-HBENSALAH;Initial Catalog=GCOM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <CHM_CLIENT_APP.Properties.Settings>
            <setting name="CHM_CLIENT_APP_CHMCNX_CHMCNX" serializeAs="String">
                <value>http://localhost:10001/CHMCNX.asmx</value>
            </setting>
            <setting name="CHM_CLIENT_APP_CHMSTAT_CHMSTAT" serializeAs="String">
                <value>http://localhost:10001/CHMSTAT.asmx</value>
            </setting>
            <setting name="CHM_CLIENT_APP_CHMMARQUE_CHM_MARQUE" serializeAs="String">
                <value>http://localhost:10001/CHM_MARQUE.asmx</value>
            </setting>
            <setting name="CHM_CLIENT_APP_CHM_LIGNE_ARTICLE_CHM_LIGNE_ARTICLE"
                serializeAs="String">
                <value>http://localhost:10001/CHM_LIGNE_ARTICLE.asmx</value>
            </setting>
            <setting name="CHM_CLIENT_APP_CHM_FAMILLE_ARTICLE_CHM_FAMILLE_ARTICLE"
                serializeAs="String">
                <value>http://localhost:10001/CHM_FAMILLE_ARTICLE.asmx</value>
            </setting>
            <setting name="CHM_CLIENT_APP_CHMGACCES_CHMGACCES" serializeAs="String">
                <value>http://localhost:10001/CHMGACCES.asmx</value>
            </setting>
            <setting name="CHM_CLIENT_APP_CHMGA_CHMGACCES" serializeAs="String">
                <value>http://localhost:10001/CHMGACCES.asmx</value>
            </setting>
            <setting name="CHM_CLIENT_APP_CHM_SERIE_CHM_SERIE_ARTICLE" serializeAs="String">
                <value>http://localhost:10001/CHM_SERIE_ARTICLE.asmx</value>
            </setting>
            <setting name="CHM_CLIENT_APP_CHMGC_GSWS" serializeAs="String">
                <value>http://localhost:10001/GSWS.asmx</value>
            </setting>
        </CHM_CLIENT_APP.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <CHM_CLIENT_APP.Properties.Settings>
            <setting name="client_fav" serializeAs="String">
                <value>True</value>
            </setting>
        </CHM_CLIENT_APP.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
