<Configurations>
  <Configuration id="x">
    <Serveur>CHM-PC\MSSQLSERVER12</Serveur>
    <Db>GCOM</Db>
    <Usr>sa</Usr>
    <Pwd>123</Pwd>
    <Login>Admin</Login>    
	  <chemin_bd>C:\Users\dell\Documents\Visual Studio 2005\Projects\GCM\Connection\GCMDB.mdf</chemin_bd>
  </Configuration>
</Configurations>